# Porta onde o servidor vai rodar
PORT=3000

# Chave secreta usada para assinar e verificar os tokens JWT.
# Em produção é usada uma string longa e aleatória.
JWT_SECRET="qQSIIUh3Ip4rpXYNohqHyFgvgiDjHWKM0INuvHr6F11"

# Tempo de expiração do token JWT.
JWT_EXPIRATION=1h
